// src/css/quasar.variables.sass

$primary   : #295f4e;
$secondary : #e98300;
$accent    : #f2f1ec;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


